@import url("https://fonts.googleapis.com/css?family=Poppins");
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  border: none;
  outline: none;
  scroll-behavior: none;
  font-family: "Poppins", sans-serif;
  text-decoration: none;
}
:root {
  --bg-color: #1f242d;
  --second-bg-color: #323946;
  --text-color: #fff;
  --main-color: #0ef;
}
html {
  font-size: 62.5%;
  overflow-x: hidden;
}
body {
  background: var(--bg-color);
  color: var(--text-color);
}
.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  padding: 2rem 9%;
  background: var(--bg-color);
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 100;
}
.logo {
  font-size: 2.5rem;
  color: var(--text-color);
  font-weight: 600;
  cursor: default;
}
.logo:hover {
  color: var(--main-color);
  cursor: pointer;
}

.navbar a {
  font-size: 1.7rem;
  color: var(--text-color);
  margin-left: 4rem;
  transition: 0.3s;
}
.navbar a:hover,
.navbar a.active {
  /* font-size: 1.7rem; */
  color: var(--main-color);
}
#menu-icon {
  font-size: 3.6rem;
  color: var(--text-color);
  display: none;
}
section {
  min-height: 100vh;
  padding: 10rem 9% 2rem;
}

.home {
  display: flex;
  justify-content: center;
  align-items: center;
}
.home-content h3 {
  font-size: 3.2rem;
  font-weight: 700;
}

.home-content h1 {
  font-size: 5.6rem;
  font-weight: 700;
  line-height: 1.3;
}
.home-img img {
  width: 35vw;
}
.home-content p {
  font-size: 1.6rem;
}
.home-content h3:nth-last-of-type(2) {
  margin-bottom: 2rem;
}
span {
  color: var(--main-color);
}
.social-media a {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 4rem;
  height: 4rem;
  background: transparent;
  border: 0.2rem solid var(--main-color);
  border-radius: 50%;
  font-size: 2rem;
  color: var(--main-color);
  margin: 3rem 1.5rem 3rem 0;
}

.social-media :hover {
  color: var(--bg-color);
  background: var(--main-color);
  /* margin: 3rem 1.5rem 3rem 0; */
}

.btn {
  display: inline-block;
  padding: 1rem 2.8rem;
  background-color: var(--main-color);
  border-radius: 2rem;
  box-shadow: 0 0 1rem var(--main-color);
  font-size: 1.6rem;
  color: var(--second-bg-color);
  letter-spacing: 0.1rem;
  font-weight: 600;
  transition: 0.5s ease;
}
.btn:hover {
  box-shadow: none;
}

.about {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2rem;
  background: var(--second-bg-color);
}

.about-img img {
  width: 35vw;
}
.heading {
  text-align: center;
  font-size: 4.5rem;
}

.about-content h2 {
  text-align: left;
  line-height: 1.2;
}
.about-content h3 {
  /* line-height: 1.2; */
  font-size: 2.6rem;
}
.about-content p {
  font-size: 1.6rem;
  margin: 2rem 0 3rem;
}

.services h2 {
  margin-bottom: 5rem;
}
.services-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 2rem;
}

.services-container .services-box {
  flex: 1 1 30rem;
  background: var(--second-bg-color);
  padding: 3rem 2rem 4rem;
  text-align: center;
  border-radius: 2rem;
  border: 0.2rem solid var(--bg-color);
  transition: 0.5s ease;
}

.services-container .services-box:hover {
  border-color: var(--main-color);
  transform: scale(1.02);
}
.services-box i {
  font-size: 6rem;
  color: var(--main-color);
}
.services-box h3 {
  font-size: 2.6rem;
  /* line-height: 1rem; */
}
.services-box p {
  font-size: 1.6rem;
  margin: 1rem 0 3rem;
}

.portfolio {
  background: var(--second-bg-color);
}
.portfolio h2 {
  margin-bottom: 4rem;
}
.portfolio-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 2.5rem;
  align-items: center;
}
.portfolio-container .portfolio-box {
  position: relative;
  border-radius: 2rem;
  box-shadow: 0 0 1rem var(--bg-color);
  overflow: hidden;
  display: flex;
}
.portfolio-box img {
  width: 100%;
}

.portfolio-box:hover img {
  transform: scale(1.1);
  transition: 0.5s ease;
}

.portfolio-box .portfolio-layer {
  position: absolute;
  bottom: 0;
  left: 0;

  width: 100%;
  height: 100%;
  background: linear-gradient(rgba(0, 0, 0, 0.1), var(--main-color));
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 0 4rem;
  /* transform: translateY(100%); */
}

.portfolio-box:hover .portfolio-layer {
  transform: translateY(0);
}
.portfolio-layer h4 {
  font-size: 3rem;
}

.portfolio-layer p {
  font-size: 1.6rem;
  margin: 0.3rem 0 1rem;
}
.portfolio-layer a {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 5rem;
  height: 5rem;
  background: var(--text-color);
  border-radius: 50%;
}
.portfolio-layer a i {
  font-size: 2rem;
  color: var(--bg-color);
}

.contact h2 {
  margin-bottom: 3rem;
}
.contact form {
  max-width: 70rem;
  margin: 1rem auto;
  text-align: center;
  margin-bottom: 3rem;
}

.contact form .input-box {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.contact form .input-box input,
.contact form textarea {
  width: 100%;
  padding: 1.5rem;
  font-size: 1.6rem;
  color: var(--text-color);
  background: var(--second-bg-color);
  border-radius: .8rem;
  margin: 1.5rem 0;
}
.contact form .input-box input{
  width: 49%;
}
.contact form textarea{
  resize: none;
}